.proj_item {
  padding: 6px;
  border: black solid 1px;
  margin: 2px;
  cursor: pointer;
}
li {
  padding: 4px;
}
.topContainer {
  position: relative;
  min-height: 300px;
}
.topContent {
  position: absolute;
  top: 0;
  width: 100%;
}
.infobar {
  width:100%;
}
button{
  /*all: unset;*/
}
.myImage {
  display: none;
}
.container {
  margin: 0;
  padding: 0;
  position: relative;
}
.fs_image_canvas {
  position: relative;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.canvasAttr {
  margin: 0;
  /* border: black solid 2px; */
  overflow: hidden;
}
.overlay_canvas {
  margin: 0;
  padding: 0;
  overflow: hidden;
  /*position: relative;*/
  position: absolute;
  top: 0;
  left: 0;
}

/**************************   Under Construction  ***********************/
.columnbar{
  height: 80px;
  background-color: lightgray;
}
.column {
  display: inline-block;
  border: black solid 2px;
  border-right: black solid 1px;
  border-left: black solid 1px;
  text-align: center;
  height: 100%;
}

.buttonBar {
  margin: 0;
  margin-right: 10px;
  padding: 0;
  height: 20px;
  background-color: #cccccc;
}

.thumb{
  width: 200px;
}
/*
#clip {
  position: absolute;
  top: 0;
  left: 0;
  clip: rect(0px, 7000px, 3300px, 0px);
  clip: shape(top, right, bottom, left); NB 'rect' is the only available option
}
*/
